anyio==3.4.0
appdirs==1.4.4
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.8
h11==0.12.0
httpcore==0.14.3
httpx==0.21.1
idna==3.3
importlib-metadata==4.8.2
pyee==8.2.2
pyppeteer==0.2.6
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.7
websockets==9.1
zipp==3.6.0
